# Copyright Vespa.ai. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.

# Disable build id note requirement for now
%undefine _missing_build_ids_terminate_build

# Force special prefix for Vespa
%global _prefix /opt/vespa-deps

# use one of these two alternatives:
# Don't create separate debug package
%global debug_package %{nil}
# Only strip debug info
%global _find_debuginfo_opts -g

# Don't provide shared library or pkgconfig
%global __provides_exclude ^(lib.*\\.so[0-9.]*\\(\\)\\(64bit\\)|(cmake|pkgconfig)\\(.*)$

# CHANGE NEXT LINE: This may be useful to avoid picking up requires from libraries.
%global __requires_exclude ^lib(notthis|xxx|notthat)\.so[0-9.]*\\([A-Z._0-9]*\\)\\(64bit\\)$

# Version
%global ver_major _TMPL_VER_MAJOR
%global ver_minor _TMPL_VER_MINOR
%global ver_patch _TMPL_VER_PATCH
%global ver_release _TMPL_VER_RELEASE

%global orig_name xxx

Summary:        This text describes xxx
Name:           vespa-%{orig_name}
Version:        %{ver_major}.%{ver_minor}.%{ver_patch}
Release:        %{ver_release}%{?dist}
License:        MIT
URL:            https://the.home.of.xxx/
Source0:        https://github.com/xxx-home/%{orig_name}/archive/refs/tags/v%{version}.tar.gz

%if 0%{?el8}
# stuff needed just for EPEL8 build
%endif
# Some common things, may need to change
%if 0%{?el8}%{?el9}
BuildRequires: vespa-toolset-14-meta
%global _devtoolset_enable /opt/rh/gcc-toolset-14/enable
BuildRequires: vespa-cmake
%else
BuildRequires: gcc-c++
BuildRequires: cmake
%endif
BuildRequires: make

%global _vespa_3rdparty_deps_packaging_notice \
See https://github.com/vespa-engine/vespa-3rdparty-deps for details \
about packaging.

%description
%{_vespa_3rdparty_deps_packaging_notice}

%prep
%setup -q -n %{orig_name}-%{version}

%build
%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable}
%endif

# PATH to vespa-cmake etc
PATH=%{_prefix}/bin:$PATH

cmake -S . -B build \
    -DCMAKE_INSTALL_PREFIX=%{_prefix}     \
    -DCMAKE_INSTALL_RPATH=\$ORIGIN        \
    -DCMAKE_BUILD_WITH_INSTALL_RPATH=true \
    -DCMAKE_BUILD_TYPE=RelWithDebInfo

VERBOSE=1 cmake --build build %{?_smp_mflags}

%install
cd build
%make_install

%files
%license LICENSE.md
%{_libdir}

# below is for packages split, runtime (base package) / compile time (-devel package)

%package devel
Summary: What is xxx but for development
Requires: %{name}%{?_isa} = %{version}-%{release}

%description devel
maybe some more description of xxx
%{_vespa_3rdparty_deps_packaging_notice}

%files devel
%license LICENSE.md
%{_includedir}

%changelog
* Thu Jan  1 1970 - person
- description
