# Copyright Vespa.ai. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.

# Disable build id note requirement for now
%undefine _missing_build_ids_terminate_build

# Force special prefix for Vespa
%define _prefix /opt/vespa-deps

# Only strip debug info
%global _find_debuginfo_opts -g

# Don't provide shared library or pkgconfig
%global __provides_exclude ^(lib.*\\.so(\\.[0-9.]*)?\\(\\)\\(64bit\\)|pkgconfig\\(.*)$

# Exclude automated requires for libraries in /opt/vespa-deps/lib64.
%global __requires_exclude ^(libicu(data|i18n|io|test|tu|uc)\\.so(\\.[0-9.]*)?\\([A-Za-z._0-9]*\\)\\(64bit\\)|pkgconfig\\(icu-(i18n|io|uc)\\)( = [0-9.]*)?)$

# Version
%define ver_major _TMPL_VER_MAJOR
%define ver_minor _TMPL_VER_MINOR
%define ver_patch _TMPL_VER_PATCH
%define ver_release _TMPL_VER_RELEASE

Summary:        ICU package for Vespa
Name:           vespa-icu
Version:        %{ver_major}.%{ver_minor}.%{ver_patch}
Release:        %{ver_release}%{?dist}
License:        MIT and UCD and Public Domain
URL:            http://site.icu-project.org/
Source0:        https://github.com/unicode-org/icu/releases/download/release-%{ver_major}.%{ver_minor}/icu4c-%{ver_major}.%{ver_minor}-sources.tgz

%if 0%{?el8} || 0%{?el9} || 0%{?el10}
%define _devtoolset_enable /opt/rh/gcc-toolset-15/enable
BuildRequires: vespa-toolset-15-meta
BuildRequires: python3
%endif

BuildRequires: doxygen
BuildRequires: make
BuildRequires: patchelf

%global _vespa_3rdparty_deps_packaging_notice \
See https://github.com/vespa-engine/vespa-3rdparty-deps for details \
about packaging.

%description
ICU package for Vespa.
%{_vespa_3rdparty_deps_packaging_notice}

%package devel
Summary:        ICU dev package for Vespa.
Requires:       %{name} = %{version}-%{release}
Requires:       pkgconfig

%description devel
ICU dev package for Vespa.
%{_vespa_3rdparty_deps_packaging_notice}

%prep
%setup -q -n icu

%build
%define _configure_args --enable-rpath --with-data-packaging=library --disable-samples --enable-debug --enable-tracing

%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable} || true
%endif

export CFLAGS="-g -O3 -fno-strict-aliasing"
export CXXFLAGS="-g -O3 -fno-strict-aliasing"
export LDFLAGS='-Wl,-rpath,%{_libdir}'

cd source
mkdir -p build && cd build

../configure --prefix=%{_prefix} --libdir=%{_libdir} %{?_configure_args}

make %{?_smp_mflags}

find . -type f -size +10 ! -name '*.o' | while read f; do
    case $(file $f) in
        *"ELF 64-bit"*"shared"*) patchelf --set-rpath '$ORIGIN' $f ;;
        *"ELF 64-bit"*"executable"*) patchelf --set-rpath '$ORIGIN/../lib64' $f ;;
    esac
done

%install
%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable} || true
%endif
cd source/build
%make_install

%files
%{_prefix}/bin/
%{_prefix}/lib64/
%{_prefix}/sbin/
%{_prefix}/share/icu/%{ver_major}.%{ver_minor}/
%{_prefix}/share/man/
%license LICENSE

%files devel
%{_prefix}/include/
%{_prefix}/lib64/pkgconfig/
%license LICENSE

%changelog
* Tue May 26 2026 - Arne Juul
- initial import of ICU 78.3
