# Copyright Vespa.ai. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.

# Disable build id note requirement for now
%undefine _missing_build_ids_terminate_build

# Force special prefix for Vespa
%define _prefix /opt/vespa-deps

# Only strip debug info
%global _find_debuginfo_opts -g

# Don't provide shared library or pkgconfig
%global __provides_exclude ^(lib.*\\.so(\\.[0-9.]*)?\\([A-Z._0-9]*\\)\\(64bit\\)|pkgconfig\\(.*)$

%global __requires_exclude ^libonnxruntime\\.so\\.[0-9.]*\\([A-Z._0-9]*\\)\\(64bit\\)$

# Version
%define ver_major _TMPL_VER_MAJOR
%define ver_minor _TMPL_VER_MINOR
%define ver_patch _TMPL_VER_PATCH
%define ver_release _TMPL_VER_RELEASE

Summary:        ONNX Runtime package for Vespa
Name:           vespa-onnxruntime
Version:        %{ver_major}.%{ver_minor}.%{ver_patch}
Release:        %{ver_release}%{?dist}
License:        MIT License
URL:            https://microsoft.github.io/onnxruntime
Source0:        vespa-onnxruntime-%{version}.tar.gz
Source1:        patches.external-pytorch-cpuinfo-src-arm-linux-init.diff
Patch0:         patches.use-origin-rpath-for-jni-library.diff
Patch1:         patches.no-array-bounds.diff
Patch2:         patches.use-gradle.diff
Patch3:         patches.apply-cpuinfo.diff
Patch4:         patches.onnx-use-extra.diff
Patch5:         patches.extra-includes.diff
Patch6:         patches.eigen-moved.diff

%if 0%{?fedora} && !0%{?amzn}
BuildRequires: cmake
BuildRequires: ccache
%else
BuildRequires: vespa-cmake
BuildRequires: vespa-ccache
%endif
%define _cmake_prog cmake
%define _ctest_prog ctest
BuildRequires: vespa-gradle
BuildRequires: which
%if 0%{?el8}
%define _devtoolset_enable /opt/rh/gcc-toolset-12/enable
BuildRequires: vespa-toolset-12-meta
BuildRequires: gcc-toolset-12-dwz
BuildRequires: gtest-devel
BuildRequires: make
BuildRequires: glibc-langpack-en
BuildRequires: wget
BuildRequires: python3.11
BuildRequires: python3.11-devel
BuildRequires: python3.11-numpy
BuildRequires: python3.11-setuptools
%global _enable_cuda 1
%endif
%if 0%{?el9}
%define _devtoolset_enable /opt/rh/gcc-toolset-12/enable
BuildRequires: vespa-toolset-12-meta
BuildRequires: gcc-toolset-12-dwz
BuildRequires: gtest-devel
BuildRequires: make
BuildRequires: glibc-langpack-en
BuildRequires: python3.11
BuildRequires: python3.11-devel
BuildRequires: python3.11-numpy
BuildRequires: python3.11-setuptools
%global _enable_cuda 1
%endif
%if 0%{?el10}
BuildRequires: gcc-c++
BuildRequires: gtest-devel
BuildRequires: gmock-devel
BuildRequires: make
BuildRequires: glibc-langpack-en
BuildRequires: python3
BuildRequires: python3-devel
BuildRequires: python3-numpy
BuildRequires: python3-setuptools
%endif
%if 0%{?fedora}
BuildRequires: gcc-c++
BuildRequires: make
BuildRequires: glibc-langpack-en
%endif
BuildRequires: zlib-devel
BuildRequires: expat-devel
BuildRequires: libcurl-devel
%if ! 0%{?el9} && ! 0%{?el10}
BuildRequires: libunwind
%endif
BuildRequires: bzip2

%if 0%{?_enable_cuda:1}
%define _cuda_version_major 12.2
%define _cuda_version_num 12.2.140
%define _cuda_version_name 12-2
%define _cudnn_version 8.9.6.50-1.cuda12.2
BuildRequires: cuda-toolkit-12-config-common = %{_cuda_version_num}
BuildRequires: cuda-toolkit-config-common = %{_cuda_version_num}
BuildRequires: cuda-libraries-devel-%{_cuda_version_name}
BuildRequires: cuda-compiler-%{_cuda_version_name}
BuildRequires: cuda-cudart-devel-%{_cuda_version_name}
BuildRequires: cuda-command-line-tools-%{_cuda_version_name}
BuildRequires: libcudnn8-devel = %{_cudnn_version}
%endif

%description
ONNX Runtime package for Vespa.

See https://github.com/vespa-engine/vespa-3rdparty-deps for details
about packaging.

%package devel
Summary:        ONNX Runtime dev package for Vespa.
Requires:       %{name} = %{version}-%{release}

%description devel
%{version} dev package for Vespa.

See https://github.com/vespa-engine/vespa-3rdparty-deps for details
about packaging.
%prep
%setup -q
%patch -P 0 -p1
%patch -P 1 -p1
%patch -P 2 -p0
%patch -P 3 -p1
%patch -P 4 -p1
%patch -P 5 -p1
%patch -P 6 -p1

mkdir cmake/patches/pytorch_cpuinfo
cp -a %{SOURCE1} cmake/patches/pytorch_cpuinfo/arm-linux-init.diff

%build

%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable}
%endif

PATH=%{_prefix}/bin:$PATH
%if 0%{?_enable_cuda:1}
%global _enable_cuda_options --use_cuda --cuda_home=/usr/local/cuda-%{_cuda_version_major} --cudnn_home=/usr
# 75: Tesla T4
# 80: Ampere A100
# 89: Ada Lovelace L40 / L40S
%global _enable_cuda_extra_defines CMAKE_CUDA_ARCHITECTURES="75;80;89"
%endif

if [ -f /usr/bin/python3.11 ]; then
    sed -i 's=^python3 =python3.11 =' build.sh
fi

./build.sh \
    --allow_running_as_root \
    --config RelWithDebInfo \
    %{?_enable_cuda_options:%{_enable_cuda_options}} \
    --skip_tests \
    --build_java \
    --build_shared_lib \
    --parallel 3 \
    --cmake_path %{_cmake_prog} \
    --ctest_path %{_ctest_prog} \
    --skip_submodule_sync \
    --cmake_extra_defines \
            CMAKE_INSTALL_PREFIX=%{_prefix} \
            CMAKE_CXX_COMPILER_LAUNCHER=ccache \
            CMAKE_CUDA_COMPILER_LAUNCHER=ccache \
            %{?_enable_cuda_extra_defines:%{_enable_cuda_extra_defines}} \
            %{?_toolset_compiler_cmake_args}

%install
rm -rf $RPM_BUILD_ROOT

%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable}
%endif

PATH=%{_prefix}/bin:$PATH
make -C build/Linux/RelWithDebInfo DESTDIR=%{buildroot} install

cp -p build/Linux/RelWithDebInfo/lib*jni*.so* %{buildroot}%{_prefix}/lib64/.
mkdir -p %{buildroot}%{_prefix}/lib
cp -p build/Linux/RelWithDebInfo/java/build/libs/* %{buildroot}%{_prefix}/lib/.

%files
%{_prefix}/lib64/
%if 0%{?_enable_cuda:1}
%exclude %{_prefix}/lib64/*cuda*
%endif
%exclude %{_prefix}/bin/
%license LICENSE

%files devel
%{_prefix}/include/
%license LICENSE

%package java
Summary:        ONNX java runtime support for Vespa.
Requires:       %{name} = %{version}-%{release}

%description java
%{version} java support package for Vespa.

See https://github.com/vespa-engine/vespa-3rdparty-deps for details
about packaging.

%files java
%{_prefix}/lib/
%license LICENSE

%if 0%{?_enable_cuda:1}
%package cuda
Summary:        ONNX provider for CUDA (for Vespa).
Requires:       %{name} = %{version}-%{release}
Requires:       cuda-cudart-%{_cuda_version_name}
Requires:       libcufft-%{_cuda_version_name}
Requires:       libcublas-%{_cuda_version_name}
Requires:       libcurand-%{_cuda_version_name}
Requires:       libnvjitlink-%{_cuda_version_name}
Requires:       libcudnn8 = %{_cudnn_version}

%description cuda
CUDA support package for Vespa.

See https://github.com/vespa-engine/vespa-3rdparty-deps for details
about packaging.

%files cuda
%{_prefix}/lib64/*cuda*
%license LICENSE
%endif

%changelog
* Wed Jun 25 2025 Arne Juul - 1.22.0
- bump version to 1.22.0
- temporarily add patch for using github mirror for eigen

* Sun Apr 06 2025 Tor Egge <Tor.Egge@online.no> - 1.20.1-4
- Suppress gcc 15 range-loop-construct warning
- Include cstdint to get fixed width integer types
