# Copyright Vespa.ai. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.

# Disable build id note requirement for now
%undefine _missing_build_ids_terminate_build

# Force special prefix for Vespa
%global _prefix /opt/vespa-deps

# allow rpath pointing to our libdir
%global __brp_check_rpaths %{nil}

# Only strip debug info
%global _find_debuginfo_opts -g

# Don't provide shared library or pkgconfig
%global __provides_exclude ^(lib.*\\.so\\.[0-9.]*\\([A-Za-z._0-9]*\\)\\(64bit\\)|pkgconfig\\(.*)$

# Exclude automated requires for libraries in /opt/vespa-deps/lib64.
%global __requires_exclude ^(lib(crypto|ssl)\\.so\\.[0-9.]*\\([A-Za-z._0-9]*\\)\\(64bit\\)|pkgconfig\\(lib(crypto|ssl)\\))$

# Avoid auto requirement for perl
%global __requires_exclude_from /c_rehash$|\\.pl$

# Version
%global ver_major _TMPL_VER_MAJOR
%global ver_minor _TMPL_VER_MINOR
%global ver_patch _TMPL_VER_PATCH
%global ver_release _TMPL_VER_RELEASE

Summary:        OpenSSL package for Vespa
Name:           vespa-openssl
Version:        %{ver_major}.%{ver_minor}.%{ver_patch}
Release:        %{ver_release}%{?dist}
License:        Apache License v2
URL:            https://www.openssl.org
Source0:        https://github.com/openssl/openssl/releases/download/openssl-%{version}/openssl-%{version}.tar.gz

BuildRequires: make
BuildRequires: perl
%if 0%{?el8} || 0%{?el9}
%global _devtoolset_enable /opt/rh/gcc-toolset-14/enable
BuildRequires: vespa-toolset-14-meta
BuildRequires: gcc-toolset-14-gcc-c++
%endif
%if 0%{?el10}
BuildRequires: gcc-c++
%global _extra_cpp_flags -fPIC
%endif
%if 0%{?fedora}
BuildRequires: gcc-c++
BuildRequires: perl-File-Compare
BuildRequires: perl-File-Copy
BuildRequires: perl-FindBin
%endif

%description
OpenSSL package for Vespa.

%package devel
Summary:        OpenSSL dev package for Vespa.
Requires:       %{name} = %{version}-%{release}

%description devel
OpenSSL dev package for Vespa.

%prep
%setup -q -n openssl-%{version}

%build
%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable} || true
%endif
mkdir build && cd build
/usr/bin/env \
	CFLAGS="-g -O3 %{?_extra_cpp_flags}" \
../config --prefix=%{_prefix} --openssldir=%{_prefix}/conf/ssl --libdir=lib64 -Wl,-rpath,%{_libdir} %{?_configure_args}

perl -pi -e 's/ build_html_docs / /' Makefile
perl -pi -e 's/ install_html_docs / /' Makefile

make %{?_smp_mflags}

%install
%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable} || true
%endif
cd build
%make_install

%global _unpackaged_files_terminate_build 0

%files
%{_prefix}/bin/
%{_prefix}/lib64/
%{_prefix}/conf/ssl/
%{_prefix}/share/man/
%license LICENSE.txt

%files devel
%{_prefix}/include/
%{_prefix}/lib64/pkgconfig/
%license LICENSE.txt

%changelog
* Wed Oct  1 2025 - Arne Juul
- for 3.5.4, add -fPIC on el10
