dist:
  name: vespa-otelcol
  description: Basic OTel Collector distribution for Vespa
  output_path: ./vespa-otelcol
  otelcol_version: "VERSION"
  version: "1.0.1"
  go: "go1.21.0"

exporters:
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/exporter/prometheusexporter vVERSION"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/exporter/lokiexporter vVERSION"
  - gomod: "go.opentelemetry.io/collector/exporter/loggingexporter vVERSION"
  - gomod: "go.opentelemetry.io/collector/exporter/otlpexporter vVERSION"
  - gomod: "go.opentelemetry.io/collector/exporter/otlphttpexporter vVERSION"

receivers:
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/filelogreceiver vVERSION"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/receiver/simpleprometheusreceiver vVERSION"
  - gomod: "go.opentelemetry.io/collector/receiver/otlpreceiver vVERSION"

processors:
  - gomod: "go.opentelemetry.io/collector/processor/batchprocessor vVERSION"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/filterprocessor vVERSION"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/resourceprocessor vVERSION"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/metricstransformprocessor vVERSION"
  - gomod: "github.com/open-telemetry/opentelemetry-collector-contrib/processor/attributesprocessor vVERSION"
