# Copyright Vespa.ai. Licensed under the terms of the Apache 2.0 license. See LICENSE in the project root.

# Disable build id note requirement for now
%undefine _missing_build_ids_terminate_build

# Force special prefix for Vespa
%define _prefix /opt/vespa-deps

# Don't create separate debug package
%global debug_package %{nil}

# Version
%global ver_major _TMPL_VER_MAJOR
%global ver_minor _TMPL_VER_MINOR
%global ver_patch _TMPL_VER_PATCH
%global ver_release _TMPL_VER_RELEASE

%global orig_name datasketches-cpp

Summary:        Apache DataSketches Core C++ Library Component
Name:           vespa-%{orig_name}
Version:        %{ver_major}.%{ver_minor}.%{ver_patch}
Release:        %{ver_release}%{?dist}
License:        Apache
URL:            https://github.com/apache/%{orig_name}
Source0:        https://github.com/apache/%{orig_name}/archive/refs/tags/%{version}.tar.gz
Patch0:         patches.extra-includes.diff

%if 0%{?el8}%{?el9}
BuildRequires: vespa-toolset-14-meta
%define _devtoolset_enable /opt/rh/gcc-toolset-14/enable
BuildRequires: vespa-cmake
%else
BuildRequires: cmake
BuildRequires: gcc-c++
%endif
BuildRequires: make
BuildRequires: git

%global _vespa_3rdparty_deps_packaging_notice \
See https://github.com/vespa-engine/vespa-3rdparty-deps for details \
about packaging.

%description
%{_vespa_3rdparty_deps_packaging_notice}

%prep
%setup -q -n %{orig_name}-%{version}
%patch -P 0 -p0

%build
%if 0%{?_devtoolset_enable:1}
source %{_devtoolset_enable}
%endif

PATH=%{_prefix}/bin:$PATH

cmake -S . -B build \
    -DCMAKE_INSTALL_PREFIX=%{_prefix}     \
    -DCMAKE_INSTALL_RPATH=\$ORIGIN        \
    -DCMAKE_BUILD_WITH_INSTALL_RPATH=true \
    -DCMAKE_BUILD_TYPE=RelWithDebInfo

VERBOSE=1 cmake --build build %{?_smp_mflags}

%install
cd build
%make_install
mv %{buildroot}/%{_prefix}/lib %{buildroot}/%{_libdir}

%files
# note: headers-only library
%license LICENSE
%{_libdir}
%{_includedir}

%changelog
* Mon Aug 18 2025 - Tor Egge <Tor.Egge@online.no> - 5.2.0-2
- Include cstdint to get declaration of uint32_t when using libstdc++ 15.
* Wed Aug 13 2025 - arnej
- Packaged for vespa
* Wed Jan 15 2025 - Alexander Saydakov
- released 5.2.0
